<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!-- ##########################交易发送地址配置#############################-->
    <!--######(以下配置为入网测试环境用)#######-->
    <!--  签名证书路径 （联系运营获取两码，在CFCA网站下载后配置，自行设置证书密码并配置） -->
    <add key="sdk.signCert.path" value="D:/certs/acp_prod_sign.pfx" />
    <!-- 签名证书密码 -->
    <add key="sdk.signCert.pwd" value="000000" />
    <!-- 签名证书类型 -->
    <add key="sdk.signCert.type" value="PKCS12" />
    <!-- 加密证书路径 -->
    <add key="sdk.encryptCert.path" value="D:/certs/acp_prod_enc.cer" />
    <!-- 验签证书目录 -->
    <add key="sdk.validateCert.dir" value="D:/certs/" />
    <!-- 前台交易地址 -->
    <add key="sdk.frontTransUrl" value="https://gateway.95516.com/gateway/api/frontTransReq.do" />
    <!-- 后台交易地址 -->
    <add key="sdk.backTransUrl" value="https://gateway.95516.com/gateway/api/backTransReq.do" />
    <!-- 交易状态查询地址 -->
    <add key="sdk.singleQueryUrl" value="https://gateway.95516.com/gateway/api/queryTrans.do" />
    <!-- 文件传输类交易地址 -->
    <add key="sdk.fileTransUrl" value="https://filedownload.95516.com/" />
    <!-- 批量交易地址 -->
    <add key="sdk.batTransUrl" value="https://gateway.95516.com/gateway/api/batchTrans.do" />
    <!-- 有卡交易地址 -->
    <add key="sdk.cardRequestUrl" value="https://gateway.95516.com/gateway/api/cardTransReq.do" />
    <!-- app交易地址 手机控件支付使用该地址-->
    <add key="sdk.appRequestUrl" value="https://gateway.95516.com/gateway/api/appTransReq.do" />
    <!-- 前台通知地址，填写后台接收银联前台通知的地址 -->
    <add key="frontUrl" value="http://localhost:8080/demo/api_11_jf/FrontRcvResponse.aspx" />
    <!-- 后台通知地址，填写后台接收银联后台通知的地址，必须外网能访问 -->
    <add key="backUrl" value="http://222.222.222.222:8080/demo/api_11_jf/BackRcvResponse.aspx" />
    <!-- 是否验证服务器https证书 -->
    <add key="ifValidateRemoteCert" value="false" />


    <!--##########################以下为缴费产品的配置，其他产品接入时可无视#############################-->
    <!-- 前台交易地址 -->
    <add key="sdk.jf.frontTransUrl" value="https://gateway.95516.com/jiaofei/api/frontTransReq.do" />
    <!-- 后台交易地址 -->
    <add key="sdk.jf.backTransUrl" value="https://gateway.95516.com/jiaofei/api/backTransReq.do" />
    <!-- 交易状态查询地址 -->
    <add key="sdk.jf.singleQueryUrl" value="https://gateway.95516.com/jiaofei/api/queryTrans.do" />
    <!-- 有卡交易地址 -->
    <add key="sdk.jf.cardRequestUrl" value="https://gateway.95516.com/jiaofei/api/cardTransReq.do" />
    <!-- app交易地址 手机控件支付使用该地址-->
    <add key="sdk.jf.appRequestUrl" value="https://gateway.95516.com/jiaofei/api/appTransReq.do" />

    <!--##########################log4net配置#############################-->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
  </appSettings>
</configuration>
